* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: 'Fredoka One', cursive;
  color: #4c3f54;
}

/*////ESTILOS MODO OSCURO////*/

/*//////ESTILOS DEL NAV///////*/
.modo-oscuro {
  /* width: 70px;
  height: 30px;
  border-radius: 40px;
  border: solid 1px #fd68688e; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:absolute;
  /* top: 20px;
  left: 20px;
  z-index: 1; */
}
.nav-superior {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #ffcde1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.link-nav a {
  padding: 8px;
  font-size: 1rem;
  color: #4c3f54;
}

.link-contacto-nav a {
  background-color: #dd609b;
  color: #4c3f54;
  border-radius: 10px;
  padding: 10px 20px;
}

.link-nav :hover {
  color: #dd609b;
}

.link-contacto-nav a:hover {
  background-color: #4c3f54;
  color: rgb(255, 255, 255);
}
.nav-oculto {
  
  background-color: #ffcde1;
  display: none;
}
/*//// ESTILOS ASIDE OCULTO////*/

aside {
  width: 200px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  overflow: hidden;
}

.aside-oculto {
  margin-top: -5%;
  background-color: #ffcde1;
  width: 0px;
}
.fa-window-close {
  font-size: 18px;
  margin: 10px;
}

.titulo-aside {
  font-size: 24px;
  width: 100%;
  text-align: center;
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.li-oculto {
  margin-bottom: 21px;
}

/*//////ESTILOS DEL MAIN///////*/
.dibujo{
  width: 100%;
  height: 100%;
  background-image: url('./img/portfoliodari3.png');
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
}
main {
  background-color:  #ffeae9;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0;
}

/*//////ESTILOS DEL SECCIÓN PRESENTACIÓN///////*/
.nubes{
  display: flex;
  align-items: center;
  /* flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row-reverse; */
}


.texto {
  display: flex;
  flex-direction: column;
  float:left;
  width: 100%;
  margin-top: -6%;
  padding-block-end: 10%;

}

.texto-presentacion > h2 {
  margin-left: 1%;
  width: 100%;
  color:#4c3f54;
  font-size: 2rem;

}

.texto-presentacion > h1 {
  width: 100%;
  font-size: 2.8rem;
  margin-top: 0%;
  margin-left: 1%;
  color: #dd609b;

}

.texto-presentacion > p {
  width: 100%;
  color:#4c3f54;
  margin-left: 1%;
  font-size: 1rem;
  font-weight: 400;

}

.img {
  float:left;
  width: 50%;
  margin-top:40%;
  margin-left: 38%;
  animation: rotationAnimation 1s infinite;
}

@keyframes rotationAnimation {
    from { transform: none }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(10deg); }
    to { transform: none; }
}
.img:hover {
  transform: scale(1.1);
}
.img2 {
  float:right;
  width: 50%;
  height: 0%;
  margin-top: -10%;
  margin-right: -35%;
  border-right-width: 20%;
  animation: myAnim 2s ease 0s infinite normal forwards;
}
.img2:hover {
  transform: scale(1.1);
}
  @keyframes myAnim {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(3px, -3px);
    }
    40% {
      transform: translate(3px, 3px);
    }
    60% {
      transform: translate(-3px, 3px);
    }
    80% {
      transform: translate(-3px, -3px);
    }
    100% {
      transform: translate(0);
    }
}

.img3 {
  float:inline-start;
  width: 50%;
  height: 50%;
  margin-top: 60%;
  margin-left: 25%;
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}

.img3:hover {
  transform: scale(1.1);
}

.link-presentacion a {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 40px;
  margin-top: 30px;
  font-size: 1rem;
}


/*//////ESTILOS SECCIÓN CONOCIMIENTOS///////*/
.conocimientos {
  margin-top: -3%;
  width: 90%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.desarrollo {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.desarrollo > h2 {
  font-size: 3rem;
  text-align: center;
}

.desarrollo > p {
  margin-top: -5%;
  width: 70%;
  font-size: 1.2rem;
  text-align: center;
}

.contenido-conocimientos {

  width: 75%;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-top: 0px;
}

.lenguajes {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  margin:15px;
  border-radius: 50%;
  border: solid 3px rgba(192, 187, 187, 0.432);
}

.lenguajes p {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.lenguajes:hover {
  transform: scale(1.1);
  border-radius: 50%;
  box-shadow: 0 0 35px rgb(255, 255, 255,0.5),
  rgba(231, 87, 207, 0.458) 0px 30px 60px -30px,
  rgba(239, 42, 239, 0.35) 0px -3px 6px 0px inset;
  transform: scale(1.1);
}

.lenguajes > i {
  font-size: 80px;
  margin-bottom: 0;
}


.nodejs {
  width: 80px;
  height: 80px;
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}

.fa-html5 {
  color: orangered;
  margin-top: 10%;
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}


.fa-css3-alt {
  color: rgb(90, 90, 241);
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}

.fa-sass {
  color: fuchsia;
  margin-top: 10%;
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}

.fa-js {
  color: rgb(242, 216, 15);
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}

.fa-react {
  color: rgb(93, 170, 241);
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}

.fa-git-alt {
  color: rgb(241, 90, 35);
  animation: latidos 1s infinite;
	transform-origin: center;
}
@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.05); }
  to { transform: none; }
}


/*//////ESTILOS SECCIÓN CITA///////*/
.link-presentacion-2 a {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c3f54;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 30px;
  font-size: 0.8rem;
}

.link-presentacion-2 a:hover {
  transform: scale(1.1);
}

.link-presentacion-2 a:active {
  transform: scale(1.1);
}
.cita {
  width: 100%;
  height: 800px;
  background-color:#dd609b;
  color: black;
  display: flex;
  align-items: center;

  /* width: 90%;
  max-width: 1250px; */
  justify-content: space-around;
}
.imagen-dari{
  width:30%;
  height: 53%;
  border-radius: 50%; 
}

.texto-presentacion-2 > h3 {
  width: 100%;
  font-size: 2.8rem;
  margin-top: 0%;
  margin-left: 1%;
  color: #4c3f54;

}

.texto-presentacion-2 > p {
  width: 100%;
  color:#ffffff;
  margin-left: 1%;
  font-size: 1.2rem;
  font-weight: 400;
}

.cita > p {
  width: 60%;
  background: radial-gradient(ellipse farthest-corner at bottom right,#6f79a3 0,#454e74 60%);
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 50px;
}

/*//////ESTILOS SECCIÓN PROYECTOS///////*/
.carousel__wrapper {
  padding: 10px;
}
.carousel__content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.carousel__container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.carousel__container::-webkit-scrollbar {
  display: none;
}
.carousel__slide {
  min-width: 90%;
}
.card__description {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.card__description img {
  width: 20px;
}
.card__description span {
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
}

/* .card__inner {
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 300px;
  border-radius: 15px;
  background-color: #fff;
  padding: 2rem 4rem; */
/* } */ 
/* .card__inner h4 {
  font-size: 1.5rem;
  margin: 0;
  color: rgb(170, 155, 155);
} */
/* .card__image img {
  max-height: 150px;
  margin-bottom: 1rem;
} */
.arrow {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: calc(50% - 10px);
  background-color:  #dd6095;
  padding: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrow i {
  font-size: 1.5rem;
  color: #fff;
}
.arrow.arrow--right {
  right: 0%;
}
.arrow.arrow--left {
  left: -2%;
}
.download-button {
  margin-top: 5%;
  margin-left: 2%;
  position: relative;
  border-width: 0;
  color:  #dd6095;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: white;
  border: solid 1px white;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color:#4c3f54;
  border: solid 1pX white;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
  color: white;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }
 .btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 .btn button:hover {
  color: black;
 }
 
 .btn button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 .btn button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
@media screen and (min-width: 1180px) {
  .carousel__wrapper {
    padding: 50px;
  }
  .carousel__slide {
    min-width: 33.33%;
    scroll-snap-align: center;
    position: relative;
  }
  .arrow {
    display: flex;
  }
}

.proyectos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.proyecto-texto {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.proyecto-texto > h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.proyecto-texto > p {
  width: 80%;
  text-align: center;
}

.proyecto-imagenes {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta-proyectos {
  background-color: #dd6095;
  width:250px;
  min-width: 250px;
  height: 300px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* border: solid 2px rgba(128, 128, 128, 0.496); */
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}

.tarjeta-proyectos:hover {
  /* background: repeating-linear-gradient(-45deg, #dd6095, #ffcde1 10px, white 10px, white 20px); */
  color: #4c3f54;
  transform: scale(1.1);
}

.img-tarjeta {
  width: 90%;
  height: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.img-tarjeta img {
  width: 100%;
}

.tarjeta-proyectos p {
  text-align: center;
}

.tarjeta-proyectos :hover {
  border: solid 3px #fd68688c;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.tarjeta-proyectos :active {
  box-shadow: #fd6868 0px 3px 8px;
}

.modal-proyectos-personales {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fd686841;
  display: none;
}

.contenedor-proyectos-personales {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  padding-top: 40px;
}

.proyecto-personal {
  width: 90%;
  height: 180px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
}

.proyecto-personal img {
  width: 100%;
}

.proyecto-personal:focus {
  border-radius: 0;
}

#cerrar-proyectos-personales {
  position: relative;
  bottom: 170px;
  right: 290px;
  border: none;
  background-color: transparent;
}
#cerrar-proyectos-personales i {
  font-size: 18px;
  color:  #dd6095;
}

/*//////ESTILOS SECCIÓN CONTACTO///////*/
.contacto {
  max-width: 1250px;
  width: 95%;
  display: flex;
  margin-top: 90px;
  border: solid 1px rgba(128, 128, 128, 0.301);
  padding: 17px;
  border-radius: 10px;
}

.contacto-texto,
form {
  width: 50%;
}

.contacto h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.contacto-texto p {
  width: 80%;
  font-weight: 500;
}

.redes {
  margin-top: 30px;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

.contacto-redes i {
  font-size: 1.2em;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  padding: 3px;
}

.contacto-redes a {
  color: #4c3f54;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.contacto-redes :hover {
  color: #dd6095;
}

.contacto-redes i:hover {
  background-color:  #dd6095;
  color: white;
}

/*//////ESTILOS DEL FORMULARIO///////*/
form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 50px;
  margin-bottom: 5%;
}
label {
  margin-top: 30px;
}

.nombre-y-apellido {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nombre-y-apellido label {
  margin-top: 0%;
  width: 45%;
  height: 50px;
}

input,
textarea {
  width: 100%;
  border: none;
  margin: 5px;
  padding: 10px;
  background-color: #fd68bc52;
  border-radius: 10px;
}

textarea::placeholder {
  color: #4c3f54;
}
input::placeholder {
  color: #4c3f54;
}

textarea {
  height: 180px;
  margin-top: 20px;
}

input:focus {
  outline: none;
  border: solid 1px  #dd6095;
  border-radius: 10px;
  box-shadow: 0px 0px 7px  #dd6095;
}

textarea:focus {
  outline: none;
  border: solid 1px  #dd6095;
  box-shadow: 0px 0px 7px  #dd6095;
  border-radius: 20px;
}

input[type="submit"] {
  padding: 15px;
  width: 130px;
  background-color:  #dd6095;
  border-radius: 20px;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  transform: scale(1.1);
  background-color: #4c3f54;
  color: rgb(255, 255, 255);
}


input[type="submit"]:active {
  background-color: #f2e87f;
}
.ocultar {
  display: none;
}

/*//////ESTILOS SECCIÓN FOOTER///////*/
footer {
  /* innecesario */
  width: 100%;
  height:200px;
  background-color:  #dd6095;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.nav-inferior {
  display: flex;
  justify-content: center;
}

.footer-secciones {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%;
}

.footer-secciones a {
  color: black;
  border-radius: 40px;
  padding: 5px;
}

.iconos-footer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%;
}

.iconos-footer a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #4c3f54;
  background-color: white;
}

.iconos-footer a:hover {
  background-color:  #dd6095;
  border: solid 1px white;
  color: white;
}

.iconos-footer a:focus {
  outline: none;
  border: solid 1px #4c3f54;
  box-shadow: 0px 0px 7px #4c3f54;
  border-radius: 20px;
}

.footer-secciones a:focus {
  outline: none;
  border: solid 1px #4c3f54;
  box-shadow: 0px 0px 7px #4c3f54;
  border-radius: 20px;
}

.footer-secciones a:hover {
  color: white;
}

footer p {
  color: black;
  font-size: 1rem;
  margin-top: 30px;
}

/*//////ESTILOS GENERALES///////*/

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* a:focus {
  outline: none;
  border: solid 1px #fd6868;
  box-shadow: 0px 0px 7px #fd6868;
  border-radius: 20px;
} */

/*//////ESTILOS RESPONSIVE///////*/

@media screen and (max-width: 1300px) {
  /*////// RESPONSIVE SECCIÓN PROYECTOS///////*/

  .proyecto-imagenes {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  /*////// RESPONSIVE NAV SUPERIOR///////*/

  .nav-superior {
    display: none;
  }

  .nav-oculto {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
  }

  .icono-hamburguesa {
    color: #4c3f54;
  }

  /*////// RESPONSIVE SECCIÓN PRESENTACIÓN///////*/
  .dibujo{
    width: 80%;
    height: 80%;
    background-image: url('./img/portfoliodari3.png');
    background-size: 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
  }

  .presentacion {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .texto-presentacion {
    margin-top:20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .presentacion > img {
    margin-top: 50px;
  }

  /*////// RESPONSIVE SECCIÓN CONOCIMIENTOS///////*/

  .contenido-conocimientos {
    width: 90%;
  }

  /*////// RESPONSIVE SECCIÓN PROYECTOS///////*/

  .proyecto-imagenes {
    width: 100%;
  }

  /*////// RESPONSIVE SECCIÓN CONTACTO///////*/

  .contacto {
    flex-direction: column;
    margin-top: 50px;
  }

  .contacto-texto,
  form {
    width: 100%;
  }

  .contacto-texto p {
    width: 50%;
  }

  .redes {
    height: 100px;
    flex-wrap: wrap;
  }
  /*////// RESPONSIVE SECCIÓN FOOTER///////*/

  .footer-secciones {
    width: 50%;
  }

  .iconos-footer {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  /*////// RESPONSIVE GENERAL///////*/

  html {
    font-size: 12px;
  }

  h2 {
    font-size: 2.3rem;
  }

  /*////// RESPONSIVE SECCIÓN PRESENTACIÓN///////*/

  .texto-presentacion h2 {
    font-size: 2rem;
  }

  .texto-presentacion h1 {
    font-size: 3rem;
    margin-top: 25px;
  }

  /*////// RESPONSIVE SECCIÓN PROYECTOS///////*/

  .proyecto-imagenes {
    width: 80%;
  }

  /*////// RESPONSIVE FORMULARIO///////*/

  .nombre-y-apellido {
    height: 130px;
    flex-direction: column;
  }

  .nombre-y-apellido label {
    width: 100%;
  }

  /*////// RESPONSIVE SECCIÓN FOOTER///////*/

  .footer-secciones {
    width: 70%;
  }

  .iconos-footer {
    width: 50%;
  }

  .iconos-footer i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 810px) {
  .contenido-conocimientos {
    justify-content: center;
  }

  /*////// RESPONSIVE SECCIÓN PROYECTOS///////*/

  .proyecto-imagenes {
    width: 100%;
  }

  .tarjeta-proyectos item-carousel {
    width: 280px;
    height: 280px;
  }

  .proximamente {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  /*////// RESPONSIVE SECCIÓN PRESENTACIÓN///////*/

  .presentacion > img {
    width: 20rem;
    height: 20rem;
  }

  /*////// RESPONSIVE SECCIÓN PROYECTOS///////*/

  .proyecto-imagenes {
    justify-content: center;
  }

  /*////// RESPONSIVE SECCIÓN CONTACTO///////*/

  .contacto-texto p {
    width: 80%;
  }

  .redes {
    height: auto;
    flex-wrap: nowrap;
  }

  /*////// RESPONSIVE FOOTER///////*/

  .footer-secciones {
    display: none;
  }
  .iconos-footer {
    width: 65%;
  }
}
@media screen and (max-width: 550px) {
  /*////// RESPONSIVE SECCIÓN CONOCIMIENTOS///////*/
  main {
    background-color:  #ffeae9;
    background-size: 100%;
    display:block;
    flex-direction: column;
    align-items:center;
    margin: 0;
  }
  aside {
    width: 121px;
    height: 20%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .desarrollo > h2 {
    margin-left: 12%;
    font-size: 3rem;
    text-align: center;
    margin-top: -8%;
  }
  .dibujo{
    /* margin-left: -30%; */
    width: 100%;
    height: 80%;
    background-image: url('./img/portfoliodari4.png');
    /* background-size: 50%; */
    background-repeat: no-repeat;
    /* background-attachment: fixed;  */
  }
  .nubes{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    align-content: flex-end;
  }
  .img {
    width: 20%;
    margin-top:-12%;
    margin-left: 15%;
    animation: rotationAnimation 1s infinite;
  }
  .img2 {
    width: 20%;
    float:none;
    margin-top: 10%;
    margin-left: 73%;
    border-right-width: 20%;
  }
  .img3 {
    width: 20%;
    margin-top:4%;
    margin-left: 48%;
    animation: rotationAnimation 1s infinite;
  }
  .texto {
    display: flex;
    flex-direction: column;
    float:left;
    width: 100%;
    margin-top: 25%;
    padding-block-end: 10%;
  }
  .texto-presentacion > h2 {
    margin-left: 1%;
    width: 100%;
    color:#4c3f54;
    font-size: 2rem;
  margin-top: -3%;
  }
  
  .texto-presentacion > h1 {
    width: 100%;
    font-size: 2.8rem;
    margin-top: -1%;
    margin-left: 1%;
    color: #dd609b;
  
  }
  
  .texto-presentacion > p {
    width: 100%;
    color:#4c3f54;
    margin-left: 1%;
    font-size: 1rem;
    font-weight: 400;
    margin-top: -2%;
  
  }
  .carousel__content {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
  }

  .cita {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: -30%;
  }
  .imagen-dari {
    width: 65%;
    height: 30%;
    border-radius: 50%;
}
  .contenido-conocimientos {
    margin-left: 10%;
    width: 100%;
  }

  .lenguajes {
    width: 180px;
    height: 180px;
  }

  .lenguajes .proximamente {
    font-size: 18px;
  }

  .bulma,
  .scrum,
  .nodejs {
    width: 85px;
    height: 85px;
    margin-bottom: 0;
  }

  /*////// RESPONSIVE SECCIÓN PROYECTOS///////*/

  .tarjeta-proyectos item-carousel {
    width: 260px;
    height: 260px;
  }

  /*////// RESPONSIVE FOOTER///////*/

  .iconos-footer {
    width: 70%;
  }
}